@page "/"
@using TeamKville.Shared;
@using TeamKville.Shared.Dto;
@inject IJSRuntime JSRuntime


<h3 class="p-3 text-center">Kommande Event</h3>
	
<div class="container text-center">
	<div class="card mx-auto d-block w-50 h-50 shadow-sm">
		<img src=@SharedClass.GetImage("event", currentEvent.Name) class="card-img-top" style="object-fit: contain;">
		<div class="card-body">
			<div class="cardcard-title">
				<h4>@currentEvent.Name</h4>
				<p>@currentEvent.Description</p>
				<h5>Datum: @currentEvent.Date</h5>
			</div>
			<a href="/event/@currentEvent.Id" class="btn btn-primary">Läs mer</a>
		</div>
	</div>
</div>
	
	
@if(SharedClass.activeUser != null)
{
	<h3 class="p-3 text-center">Rekommenderade Produkter</h3>
	<div class="container p-3 text-center shadow-sm" style="height: 500px; max-width: 90vh;">
		<SfCarousel>
			<ChildContent>
				@foreach (ProductDto product in recommendedProducts.OrderByDescending(x => x.Id).Take(5))
				{
					<CarouselItem>
						<div class="carousel-caption" style="color: black;">
							<img class="card-img-top pt-2 pb-2" style="height: 250px; object-fit: contain;" src=@SharedClass.GetImage("product", product.Name) />
							<div class="border-top" style="padding:1rem;">
								<h5>@product.Name</h5>
								<p>@product.Price kr</p>
								<a href="/product/@product.Id" class="btn btn-primary ">Läs mer</a>
							</div>
						</div>
					</CarouselItem>
				}
			</ChildContent>
			<PreviousButtonTemplate>
				<SfButton CssClass="e-flat e-outline nav-btn" title="Previous">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
						<path d="m13.5 7.01 13 13m-13 13 13-13"></path>
					</svg>
				</SfButton>
			</PreviousButtonTemplate>
			<NextButtonTemplate>
				<SfButton CssClass="e-flat e-outline nav-btn" title="Next">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
						<path d="m13.5 7.01 13 13m-13 13 13-13"></path>
					</svg>
				</SfButton>
			</NextButtonTemplate>
		</SfCarousel>
	</div>
}
else
{
	<h3 class="p-3 text-center">Nya produkter</h3>
	<div class="container p-3 text-center shadow-sm" style="height: 500px; max-width: 90vh;">
		<SfCarousel>
			<ChildContent>
				@foreach (ProductDto product in SharedClass.allProducts.OrderByDescending(x => x.Id).Take(5))
				{
					<CarouselItem>
						<div class="carousel-caption" style="color: black;">
							<img class="card-img-top pt-2 pb-2" style="height: 250px; object-fit: contain;" src=@SharedClass.GetImage("product", product.Name) />
							<div class="border-top" style="padding:1rem;">
								<h5>@product.Name</h5>
								<p>@product.Price kr</p>
								<a href="/product/@product.Id" class="btn btn-primary ">Läs mer</a>
							</div>
						</div>
					</CarouselItem>
				}
			</ChildContent>
			<PreviousButtonTemplate>
				<SfButton CssClass="e-flat e-outline nav-btn" title="Previous">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
						<path d="m13.5 7.01 13 13m-13 13 13-13"></path>
					</svg>
				</SfButton>
			</PreviousButtonTemplate>
			<NextButtonTemplate>
				<SfButton CssClass="e-flat e-outline nav-btn" title="Next">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
						<path d="m13.5 7.01 13 13m-13 13 13-13"></path>
					</svg>
				</SfButton>
			</NextButtonTemplate>
		</SfCarousel>
	</div>
}





<div class="container text-center p-5">
	<h1>Never quit, always Finish IT!</h1>
</div>





@code{

	//Event properties
	EventDto currentEvent = new EventDto();

	//Product
	List<ProductDto> recommendedProducts = new List<ProductDto>();


	protected override async Task OnInitializedAsync()
	{
		//Utan dessa scrollToTop så scrollar hemsidan till SfCarousel div. Detta är en temporär buggfix om jag inte hittar någon lösning alls till problemet.
		await JSRuntime.InvokeVoidAsync("scrollToTop");		

		var events = await HttpClient.GetFromJsonAsync<IEnumerable<EventDto>>(HttpClient.BaseAddress + "event/all");
		GetEvent(events);

		if(SharedClass.activeUser != null)
		{
			GetRecommendedProducts();
		}

		await JSRuntime.InvokeVoidAsync("scrollToTop");
	}

	void GetEvent(IEnumerable<EventDto> events)
	{		
		try
		{
			currentEvent = events.Where(e => e.Date > DateTime.Now).OrderBy(e => Math.Abs((e.Date - DateTime.Now).Ticks)).First();
		}
		catch
		{
			currentEvent = new EventDto{Name = "Inga Event :(", Description = "", Date = DateTime.Now};
		}	
	}

	async void GetRecommendedProducts()
	{
		var orders = await HttpClient.GetFromJsonAsync<IEnumerable<OrderDto>>(HttpClient.BaseAddress + "api/order/?userId=" + SharedClass.activeUser.UserId);

		List<ProductDto> orderProducts = orders.SelectMany(o => o.OrderedProductsDto).Select(p => p.ProductDto).ToList();
		List<ProductDto> fixedProducts = new List<ProductDto>();

		foreach(var product in orderProducts)
		{
			fixedProducts.Add(SharedClass.allProducts.Where(p => p.Id == product.Id).First());			
		}

		var genres = fixedProducts.GroupBy(p => p.Genre).OrderByDescending(p => p.Count()).Take(5).Select(g => g.Key).ToList();
		int topGenre = genres.First().GenreId;

		recommendedProducts = SharedClass.allProducts.Where(p => p.Genre.GenreId == topGenre).Take(5).ToList();
	}
}

<style>
	.e-carousel .e-carousel-navigators .e-btn svg {
        fill: none;
        stroke: grey;
        stroke-linecap: square;
        stroke-width: 8px;
        height: 2rem;
        vertical-align: middle;
        width: 2rem;
    }

	.e-carousel .e-carousel-navigators .e-previous .e-btn svg {
		transform: rotate(180deg);
	}

	

</style>